body {
    background-color: #FCF4F1;
}
/* search component styles */
#select_search,
#text_search,
#button_search {
    height: 45px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    
}
#select_search {
  padding-left: 5px;
}
#text_search{
  width: 35%;
  padding-left: 5px;
}
#button_search{
    width:45px;
}
.search-inputs {
    text-align: center;
    background-image: url("../images/seach-bg-1.jpg");
    background-size: auto;
    background-size: cover;
    padding: 50px;
}

/* white box for featured section */
.featured-box{
    padding: 2% 5% 0 5%;
    padding-bottom: 2%;
    margin: 0 15% 0 15%;
    background-color: white;
    border: 1px solid;
    box-shadow: 0px 0px 3px #888888;
}

/* card image dimensions */
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.line {
    width: 512px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #ddd;
  }
  
  /*.star {
    display: inline-block;
    position: relative;
    color: #ddd;
  }*/
  
  .star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden;
    color: #E7567C;
  }

  .rating {
    display: inline-block
  }

  .comment {
    padding-top: 20px;
     border-style: solid; 
     border-top: none; 
     border-left: none; 
     border-right: none; 
     border-width: 1px;
     width: 512px;
  }
  
  .modify-buttons {
    padding-left: 50px;
  }