body {
    background-color: #FCF4F1;
}
/* search component styles */
#select_search,
#text_search,
#button_search {
    height: 45px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    
}
#select_search {
  padding-left: 5px;
}
#text_search{
  width: 35%;
  padding-left: 5px;
}
#button_search{
    width:45px;
}
.search-inputs {
    text-align: center;
    background-image: url("../images/seach-bg-1.jpg");
    background-size: auto;
    background-size: cover;
    padding: 50px;
}

/* white box for featured section */
.featured-box{
    padding: 2% 5% 0 5%;
    padding-bottom: 2%;
    margin: 0 15% 0 15%;
    background-color: white;
    border: 1px solid;
    box-shadow: 0px 0px 3px #888888;
}

/* card image dimensions */
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.line {
    width: 512px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.pink-star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #E7567C;
  }

  .grey-star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #ddd;
  }

  .three-quarter-star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #ddd;
  }
  
  
  .three-quarter-star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    overflow: hidden;
    color: #E7567C;
  }

  .half-star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #ddd;
  }
  
  
  .half-star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: #E7567C;
  }

  .quarter-star {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #ddd;
  }
  
  
  .quarter-star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    overflow: hidden;
    color: #E7567C;
  }

  .rating {
    display: inline-block
  }

  .comment {
    padding-top: 20px;
    padding-bottom: 15px;
     border-style: solid; 
     border-top: none; 
     border-left: none; 
     border-right: none; 
     border-width: 1px;
     width: 612px;
  }
  
  .modify-buttons {
    padding-left: 500px;

  }

  .see-more {
    padding-left: 240px; 
    color: #0000EE !important;
  }
  .see-more:hover {
    cursor: pointer;
  }

  .user-ratings {
    display: inline-block;
    width: 70px;
    max-width: 70px;
    font-weight: 600;
  }

.test-class {
  background-color: green !important;
}

.menu { grid-area: menu;}
.main { grid-area: main;}

.grid-container {
  display:grid;
  grid-template-areas: "menu main main main main main main" "menu main main main main main main" "menu main main main main main main";

}

.search-img { 
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
  grid-area: image;
  background-image: url("");
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-fit: cover;
  background-repeat: no-repeat;
}
.search-content { 
  grid-area: content;

  padding-left: 10px;
}
.result-box {
  cursor: pointer;
  display: grid;
  grid-template-areas: "image image content content" ;
  margin: 5% 10% 5% 10%;
  border-style: solid;
  border-color: #888888;
  width: 650px;
  height: 200px;
}

